.block {
    display: block;
    width: 100%;
    border: none;
    background-color: #04AA6D;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
  }

  .deattach {
    display: block;
    width: 100%;
    border: none;
    background-color: palevioletred;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
  }

  .stop {
    display: block;
    width: 100%;
    border: none;
    background-color: #aa1704;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
  }

.block:hover {background-color: #3e778e}
.deattach:hover {background-color: #3e778e}
.stop:hover {background-color: #3e778e}

small.input_error {
  color: red;
}